
html, body * {
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  font-family: helvetica;
}

button {
  background: #00a3cc;
  border: 1px solid #333;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  color: #eee;
  font-weight: 600;
  line-height: 18px;
  height: 20px;
  font-size: 15px;
}
button:hover {
  background: #007a99;
  cursor: pointer;
}
button.active {
  background: #007a99;
  border: 1px solid #333;
}

h3 label {
  font-size: 12px;
  font-weight: 500;
  margin: 10px;
}
input[type=number] {
  width: 25px;
  margin-left: 10px;
  font-weight: 600;
  border: 0;
  background: none;
  color: #eee;
}

#connection {
  color: #999;
}

#sounds > div {
  background: #ccc;
  padding: 5px;
  margin: 10px 0
}
#sounds > div h3 {
  width: 100%;
  background: #444;
  display: block;
  margin: 0;
  margin-bottom: 5px;
  color: #fff;
  padding: 2px 10px;
  box-sizing: border-box;
}
