
button {
  background: #ccc;
  border: 1px solid #333;
  border-radius: 5px;
  margin-right: 5px;
}
button.active {
  background: green;
  border: 1px solid #333;
}

h3 label {
  font-size: 12px;
  font-weight: 500;
  margin: 10px;
}
input[type=number] {
  width: 25px;
  margin-left: 10px;
  font-weight: 600;
  border: 0;
}