<doctype html />
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/libs/Font-Awesome/css/font-awesome.min.css" type="text/css" media="screen" />

    <title>{{title}}</title>
  </head>

  <body>
    {{{body}}}
  </body>
</html>
