{% extends 'layouts/default.html' %}

{% block content %}
<div class="channel">

  <h1>
    <!-- {% include "partials/volume.html" %} -->

<!--     <label class="volume">
      <span>Volume</span>

      <i class="fa fa-volume-down"></i>
      <input type="range" id="masterVolume" min=1 max=10 value=10 />
      <i class="fa fa-volume-up"></i>

      <h3 id="connection">Disonnected</h3>
    </label> -->

    <!-- <div class="name">{{channel.name}}</div> -->
  </h1>
<!--
  {% if channel.description %}
    <div class="description">
      {{channel.description}}
    </div>
  {% endif %} -->

  {% if channel.soundState %}
    {% for category in channel.soundState.categories %}
    <div class="category" style="background-color: #{{category.BackgroundColorString}}; color: #{{category.FontColorString}}">
      {{category.name}}test
    </div>
    {% endfor %}
  {% endif %}

</div>

<style>
  {% if channel.picture %}
    html { background-image: url({{channel.picture}}); }
  {% endif %}
</style>
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/titan.js"></script>
<!-- <script type="text/javascript" src="/js/titan.tracks.js"></script> -->
<script>
  titan.el = document.getElementById('connection');
  titan.el.innerHTML = 'Loading...';

  window.onload = (function() {
    tracks = [
      {url: '/audio/sound/connect.ogg', key: 'connect', type: 'sound', category: 'ui', preload: 'auto', loop: false},
      {url: '/audio/sound/disconnect.ogg', key: 'disconnect', type: 'sound', category: 'ui', preload: 'auto', loop: false}
    ];

    titan.addTracks(tracks, null, function() {
      titan.connect({{channel.id}});
      titan.start();
    });
  });
</script>
{% endblock %}
