<!--

       444444444       000000000      333333333333333
      4::::::::4     00:::::::::00   3:::::::::::::::33
     4:::::::::4   00:::::::::::::00 3::::::33333::::::3
    4::::44::::4  0:::::::000:::::::03333333     3:::::3
   4::::4 4::::4  0::::::0   0::::::0            3:::::3
  4::::4  4::::4  0:::::0     0:::::0            3:::::3
 4::::4   4::::4  0:::::0     0:::::0    33333333:::::3
4::::444444::::4440:::::0 000 0:::::0    3:::::::::::3
4::::::::::::::::40:::::0 000 0:::::0    33333333:::::3
4444444444:::::4440:::::0     0:::::0            3:::::3
          4::::4  0:::::0     0:::::0            3:::::3
          4::::4  0::::::0   0::::::0            3:::::3
          4::::4  0:::::::000:::::::03333333     3:::::3
        44::::::44 00:::::::::::::00 3::::::33333::::::3
        4::::::::4   00:::::::::00   3:::::::::::::::33
        4444444444     000000000      333333333333333

-->

<div class="errorPage fourohthree">
  <div class="main">
    <h1 class="t-center">
      Forbidden
    </h1>

    <h2 class="t-center">
      {{#if data}}
        {{data}}
      {{else}}
        You don't have permission to see the page you're trying to reach.
      {{/if}}
    </h2>

    <p class="help">
      <a href="http://en.wikipedia.org/wiki/HTTP_403">Why</a> might this be happening?
    </p>
  </div>
</div>
