extends layout.jade

block title
  title Titan Audio Admin

block heading
  h1 Titan Audio Admin

block content
  div(id='sounds')
    div(id='funSounds')
      h3 Fun Sounds

      button(id='criticalHit') Critical Hit
      button(id='criticalMiss') Critical Miss
      button(id='toasty') Toasty
      button(id='levelUp') Level Up


    div(id='environmentSounds')
      h3 Environment Sounds

      button(id='cicadas') Cicadas
      button(id='crickets') Crickets
      button(id='stream1') Stream1
      button(id='stream2') Stream2
      button(id='breeze') Breeze
      button(id='wind1') Wind1
      button(id='wind2') Wind2
      button(id='wind3') Wind3
      button(id='rain1') Rain1
      button(id='rain1') Rain2
      button(id='rain3') Rain3
      button(id='rainOutside') Rain Outside
      button(id='rainOutside2') Rain Outside2
      button(id='thunder1') Thunder1
      button(id='thunder2') Thunder2
      button(id='rumble') rumble

    div(id='civilizationSounds')
      h3 Civilization Sounds

      button(id='blacksmith') blacksmith
      button(id='boatHarbor') boatHarbor
      button(id='repairs') Repairs
      button(id='construction') Construction
      button(id='coinsCounter') Coins on Counter
      button(id='bellpad') bellpad


    div(id='propSounds')
      h3 Prop Sounds

      button(id='torches') Torches
      button(id='campfire1') Campfire1
      button(id='campfire2') Campfire2
      button(id='flagWind') Flag Wind
      button(id='signWind') Sign Wind
      button(id='ropeCreak') Rope Creak
      button(id='fountain') Fountain
      button(id='doorKnock') Door Knock
      button(id='doorOpen1') Door Open1
      button(id='doorClose1') Door Close1
      button(id='doorOpen2') Door Open2
      button(id='doorClose2') Door Close2
      button(id='doorOpen3') Door Open3
      button(id='doorClose3') Door Close3
      button(id='gateOpen') Gate Open
      button(id='clock') Clock
      button(id='distantDrums') Distant Drums
      button(id='warDrums1') War Drums
      button(id='warHorn1') War Horn


    div(id='horrorSounds')
      h3 Horror Sounds

      button(id='heartbeat1') Heartbeat1
      button(id='heartbeat2') Heartbeat2
      button(id='churchBell') Church Bell
      button(id='tone1') Tone1
      button(id='tone2') Tone2
      button(id='tone3') Tone3
      button(id='tone4') Tone4
      button(id='riser1') Riser1
      button(id='riser2') Riser2
      button(id='pianohit') Piano Hit
      button(id='scrape1') Scrape
      button(id='screams') Screams
      button(id='spiritBreath') Spirit Breath
      button(id='childrenLaugh') Children Laugh
      button(id='wail') Wail
      button(id='whispers1') Whispers1
      button(id='whispers2') Whispers2
      button(id='vortex') Vortex


    div(id='combatSounds')
      h3 Combat Sounds

      button(id='bow') Bow
      button(id='club') Club
      button(id='staff') Staff
      button(id='stab') Stab
      button(id='shieldBash') Shield Bash
      button(id='heal') Heal
      button(id='conjuring') conjuring
      button(id='fireSpell') fireSpell
      button(id='iceSpell') iceSpell
      button(id='miscSpell') miscSpell
      button(id='musicSpell') musicSpell
      button(id='natureSpell') natureSpell
      button(id='explosion1') explosion1
      button(id='explosion2') explosion2
      button(id='knifeSharpen') Knife Sharpening
      button(id='trapArrow') Trap Arrow
      button(id='trapSpike') Trap Spike
      button(id='trapMagic') Trap Magic
      button(id='trapPoison') Trap Poison
      button(id='trapPit') Trap Pit
      button(id='trapGate') Trap Gate


    div(id='animalSounds')
      h3 Animal Sounds

      button(id='birdsong') Bird Song
      button(id='dogsBarking1') dogsBarking1
      button(id='dogsBarking2') dogsBarking2
      button(id='wolfHowl') Wolf Howling
      button(id='wolfSnarl') Wolf Snarl
      button(id='roar') Bear Roar
      button(id='owl') Owl
      button(id='hawk') Hawk
      button(id='bats') Bats
      button(id='rats') Rats
      button(id='flies') Flies
      button(id='cows') Cows
      button(id='chickens') Chickens
      button(id='creature') Creature


    div(id='music')
      h3 Music
        label Volume
          input(type='number', id='musicVolume', min=1, max=10, value=5)

      button(id='music1') Mysterious Investigation
      button(id='forestAction1') Mysterious Action
      button(id='sirenSong') Siren Song
      button(id='eerieFlute1') Eerie Flute
      button(id='celticHarpChoir') Celtic Harp Choir
      button(id='musicBox') Somber Music Box
      button(id='serenade') Wanderer Serenade
      button(id='cityWonder') City Wonder
      button(id='tocattaFugue') Tocatta &amp; Fugue
      button(id='harpsichordConcerto') Harpsichord Concerto
      button(id='luteBallad') Lute Ballad
      button(id='hurdyGurdy2') Hurdy Gurdy
      button(id='music3') Signs of Battle
      button(id='combat1') Combat1
      button(id='combat2') Combat2
      button(id='combat3') Combat3 (Drums)

block scripts
  script(type='text/javascript', src='js/titan.admin.js')
  script.
    titan.start();
    titan.admin.start(document.querySelectorAll('#sounds button'));
