
<div class="channel">
  {{channel.id}}
  <h3 id="connection"></h3>

  <h1>
    <span class="name">{{channel.name}}</span>

    <label>
      Volume

      <i class="fa fa-volume-down"></i>
      <input type="range" id="masterVolume" min=1 max=10 value=10 />
      <i class="fa fa-volume-up"></i>
    </label>
  </h1>

  <div class="description">
    {{channel.description}}
  </div>

</div>

<!-- <script type="text/javascript" src="https://use.fontawesome.com/90cf358061.js"></script> -->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.0/seedrandom.min.js"></script> -->
<script type="text/javascript" src="js/titan.js"></script>
<script type="text/javascript" src="js/titan.tracks.js"></script>
