<form action="/channel/{{channel.id}}/edit" method="post">
  <textarea name="audioLibrary" width="100%" height="400">{{channel.audioLibrary}}</textarea><br />

  <input type="submit" />
</form>

<style>
textarea { width: 100%; height: 500px; }
</style>