doctype html

html(lang="en")
  head
    title Titan Audio Player
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  body
    h1 Titan Audio Player
    h3

    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='js/titan.js')