extends layout.jade

block title
  title Tabletop Audio Player

block heading
  h1 Tabletop Audio Player
    label Volume
      <i class="fa fa-volume-down"></i>
      input(type='range', id='masterVolume', min=1, max=10, value=10)
      <i class="fa fa-volume-up"></i>