<html>
<head>
  <title>Titan Audio Player</title>
</head>

<body>
  <h1>Titan Audio Player</h1>
  <h3>Disconnected...</h3>

  <script src="js/titan.js"></script>
  <script>

    (function() {
      'use strict';
      var tracks = [
        {url: 'audio/sound/crowd_cheer2.ogg', key: 'critical', type: 'sound', loop: false},
        {url: 'audio/music/music_eerie_flute1.ogg', key: 'eerieFlute1', type: 'music', loop: true},
        {url: 'audio/music/hurdy_gurdy2.ogg', key: 'hurdyGurdy2', type: 'music', loop: true},
      ];

      window.onload = (function() {
        titan.addTracks(tracks);
      });
    })();

  </script>
</body>
</html>