extends layout.jade

block title
  title Titan Audio Engine

block heading
  h1 Titan Audio Engine
    label Volume
      input(type='number', id='masterVolume', min=1, max=10, value=10)

block scripts
  script.
    titan.start();